/.gradle
/build
/.idea
/gradle
/backup
/src/test/resources/hibernatetest.properties
/schedule_logs
/terraformAWS/.terraform
/terraform/
terraformAWS/key
terraformAWS/.terraform.lock.hcl
terraformAWS/terraform.tfstate
terraformAWS/terraform.tfstate.backup
